<a href="https://colab.research.google.com/github/DuckMinKim/Python/blob/master/1%EC%9D%BC%EC%B0%A8_1%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
print('인천정보산업고')

인천정보산업고

In [46]:
#2020/04/10
a = 9
b = 2
print("a+b= %.2f"%(a+b)) #더하기
print("a-b= %.2f"%(a-b)) #빼기
print("a*b= %.2f"%(a*b)) #곱하기
print("a/b= %.2f"%(a/b)) #나누기
print("a**b= %.2f"%(a**b)) #제곱
print("a//b= %.2f"%(a//b)) #몫

a+b= 11.00
a-b= 7.00
a*b= 18.00
a/b= 4.50
a**b= 81.00
a//b= 4.00

와  **샌즈**