<a href="https://colab.research.google.com/github/DuckMinKim/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
a =input('당신의 이름을 입력하세요 >>>')
a

당신의 이름을 입력하세요 >>>더덕

'더덕'

In [6]:
b = input('당신의 나이 >>>')
b

당신의 나이 >>>19

'19'

In [8]:
type(b)

str

In [10]:
int(b)

19

In [12]:
c =int(b)
c, type(c)

(19, int)

In [23]:
#year = input('출생년도를 입력하세요 >>>')
#int(year)
year = int(input('출생년도를 입력하세요 >>>'))
age = 2020-year+1
print('당신은 ',year,'년도에 태어났습니다')
print('당신의 나이는 ',age,'살입니다')

출생년도를 입력하세요 >>>2002
당신은  2002 년도에 태어났습니다
당신의 나이는  19 살입니다

**Format**
서식지정자

In [32]:
s = 'a is {}'
s.format('apple')

'a is apple'

In [44]:
a = '%s %d 개 가격은 %.2f$'
b = a%('햄버거',2,4.0*2)
print(a)
print(b)
print('%s %d 개 가격은 %.2f$'%('햄버거',2,4.0*2))

%s %d 개 가격은 %.2f$
햄버거 2 개 가격은 8.00$
햄버거 2 개 가격은 8.00$

In [45]:
# 치킨 2마리 가격 4만원
print('%s %d마리 가격은 %d만원'%('치킨',2,4))

치킨 2마리 가격은 4만원