<a href="https://colab.research.google.com/github/DuckMinKim/Python/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC_1%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data_Type**

**Data Type_Dictionary**


```
# dic = {1:'고기',2:'버거',3:3003}
```

In [0]:
dic = {'아잉':'고기',1:'야채','숫자':1234}

In [16]:
dic['아잉'],dic[1],dic['숫자']

('고기', '야채', 1234)

In [17]:
dic.get('아잉')

'고기'

In [20]:
dic.values()

dict_values(['고기', '야채', 1234])

In [22]:
dic.items()

dict_items([('아잉', '고기'), (1, '야채'), ('숫자', 1234)])

In [23]:
dic.keys()

dict_keys(['아잉', 1, '숫자'])

In [8]:
a ='인천정보산업고등학교'
type(a)
type(dic)

dict

In [12]:
b = [1,2,3,4,5]
type(b)
b[0]=8
b

[8, 2, 3, 4, 5]

In [14]:
c=1,2,3,4,5
type(c)
c[0]=8
c

TypeError: ignored

# **[문제풀이]**

**[문제1]**
'*' 문자를 100번 출력하세요

In [0]:
for i in range(100):
  print('*')

**[문제2]**
input() 내장 함수를 이용하여 id에 입력을 받기

In [42]:
id = input('id를 입력하세요 >>>')

id를 입력하세요 >>>샌즈

In [40]:
type(id)

str

**[문제3]**
나의 나이를 입력받아(변수:gap)환갑이 되는 나이 년도 구해보기 '당신이 환갑이 되는 년도는 2032년 입니다'와 같이 출력해보기

In [83]:
gap = int(input('당신의 나이는? >>>'))
year = (2020 - gap+1)+60
print('당신이 환갑이 되는 년도는 '+str(year)+'년 입니다.')

당신의 나이는? >>>10
당신이 환갑이 되는 년도는 2071년 입니다.

**[문제4]**
두개의 숫자를 입력받아 **,%,/,//
```
# a,b = input('두개의 숫자 입력').split()
```

In [106]:
a, b = input('두개의 숫자 입력').split()
a = int(a)
b = int(b)
print('a**b : ',a**b)
print('a%b : ',a%b)
print('a/b : ',a/b)
print('a//b : ',a//b)

두개의 숫자 입력1 5
a**b :  1
a%b :  1
a/b :  0.2
a//b :  0